<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <title>User Add Coffee</title>

    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          rel="stylesheet">

    <link href="../../static/css/main.css" rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>
<div>
    <div class="container fixed-top" th:insert="fragments/header::header"></div>


    <div class="container  mt-5">
        <div>
            <a class="btn btn-dark align-content-lg-start " th:href="@{/coffee-settings}" type="button">Back</a>
        </div>


        <div class="text-center  container">
            <span class="fs-4 ">Add New Coffee</span>
        </div>
        <hr/>


        <form class="text-center m-auto pb-5" method="POST" th:action="@{/user/user-add-coffee}">
            <label class="form-label m-auto" for="coffeeName">Coffee name</label>
            <input class="list-group-item list-group mb-3 w-100 m-auto text-center fs-5" id="coffeeName"
                   name="coffeeName"
                   placeholder="Enter coffee name"
                   th:readonly="${coffeeUser.coffeeName != null }" th:value="*{coffeeUser.coffeeName}" type="text"/>

            <div class="m-auto">
                <label class="form-label m-auto" for="tempWaterSlider">Temp. water:</label>
                <span class="fs-5 position-" id="tempWater">0</span><span>&#8451;</span>
                <input class="form-range h-100 m-auto" id="tempWaterSlider"
                       name="tempWater"
                       step="1"
                       th:attr="min=${coffeeMachine.getMinTempWater()}, max=${coffeeMachine.getMaxTempWater()}"
                       th:value="*{coffeeUser.tempWater} ? *{coffeeUser.tempWater} : 95  " type="range" value="95">
                <ul class="form-range list-group-horizontal">
                    <li class="float-start list-group-item">
                        <span th:remove="tag" th:text="${coffeeMachine.getMinTempWater()}">min</span> &#8451;
                    </li>
                    <li class="float-end list-group-item">
                        <span th:remove="tag" th:text="${coffeeMachine.getMaxTempWater()}">max</span> &#8451;
                    </li>
                </ul>
            </div>

            <div class="m-auto">
                <label class="form-label m-auto" for="amountOfWaterSlider">Amount of water: </label>
                <span class="fs-5" id="amountOfWater">0</span><span class="fs-5"> ml</span>
                <input class="form-range h-100 " id="amountOfWaterSlider"
                       name="amountOfWater"
                       step="5"
                       th:attr="min=${coffeeMachine.getMinAmountOfWater()} , max=${coffeeMachine.getMaxAmountOfWater()}"
                       th:value="*{coffeeUser.amountOfWater} ? *{coffeeUser.amountOfWater} : 100" type="range"
                       value="45">
                <ul class="form-range list-group-horizontal">
                    <li class="float-start list-group-item">
                        <span th:remove="tag" th:text="${coffeeMachine.getMinAmountOfWater()}">min</span></li>
                    <li class="float-end list-group-item">
                        <span th:remove="tag" th:text="${coffeeMachine.getMaxAmountOfWater()}">max</span></li>
                </ul>
            </div>


            <div class="m-auto">
                <label class="form-label m-auto" for="tempMilkSlider">Temp. of milk: </label>
                <span class="fs-5 " id="tempMilk">0</span><span>&#8451;</span>
                <input class="form-range h-100 " id="tempMilkSlider"
                       name="tempMilk"
                       step="1"
                       th:attr="min=${coffeeMachine.getMinTempMilk()} , max=${coffeeMachine.getMaxTempMilk()}"
                       th:value="*{coffeeUser.tempMilk} ? *{coffeeUser.tempMilk} : 0" type="range" value="0">
                <ul class="form-range list-group-horizontal">
                    <li class="float-start list-group-item">
                        <span th:remove="tag" th:text="${coffeeMachine.getMinTempMilk()}">min</span></li>
                    <li class="float-end list-group-item">
                        <span th:remove="tag" th:text="${coffeeMachine.getMaxTempMilk()}">max</span></li>
                </ul>
            </div>


            <div class="m-auto">
                <label class="form-label m-auto" for="amountMilkSlider">Amount of milk: </label>
                <span class="fs-5 " id="amountMilk">0</span><span class="fs-5 m-auto"> ml</span>
                <input class="form-range h-100 " id="amountMilkSlider"
                       name="amountMilk"
                       step="5"
                       th:attr="min=${coffeeMachine.getMinAmountOfMilk()} , max=${coffeeMachine.getMaxAmountOfMilk()}"
                       th:value="*{coffeeUser.amountMilk} ? *{coffeeUser.amountMilk} : 0" type="range" value="0">
                <ul class="form-range list-group-horizontal">
                    <li class="float-start list-group-item">
                        <span th:remove="tag" th:text="${coffeeMachine.getMinAmountOfMilk()}">min</span></li>
                    <li class="float-end list-group-item">
                        <span th:remove="tag" th:text="${coffeeMachine.getMaxAmountOfMilk()}">max</span></li>
                </ul>
            </div>


            <div class="list-group-item list-group m-auto mb-4 bg-dark text-white">
                <label class="form-label" for="tempCoffee">Temp. coffee: </label>
                <span class="fs-5" id="tempCoffee">0</span><span>&#8451;</span>
            </div>


            <div class="m-auto">
                <label class="form-label m-auto " for="grindingLevelSlider">Grinding level: </label>
                <span class="fs-5" id="grindingLevel">0</span>
                <input class="form-range h-100 " id="grindingLevelSlider"
                       name="grindingLevel"
                       step="1"
                       th:attr="min=${coffeeMachine.getMinGrindingLevel()} , max=${coffeeMachine.getMaxGrindingLevel()}"
                       th:value="*{coffeeUser.grindingLevel} ? *{coffeeUser.grindingLevel} : 5"
                       type="range" value="5">
                <ul class="form-range list-group-horizontal">
                    <li class="float-start list-group-item">
                        <span th:remove="tag" th:text="${coffeeMachine.getMinGrindingLevel()}">min</span></li>
                    <li class="float-end list-group-item">
                        <span th:remove="tag" th:text="${coffeeMachine.getMaxGrindingLevel()}">max</span></li>
                </ul>
            </div>


            <div class="m-auto">
                <label class="form-label m-auto" for="amountOfCoffeeSlider">Amount of coffee: </label>
                <span class="fs-5" id="amountOfCoffee">0</span><span class="fs-5"> g</span>
                <input class="form-range h-100 " id="amountOfCoffeeSlider"
                       name="amountOfCoffee"
                       step="0.5"
                       th:attr="min=${coffeeMachine.getMinAmountOfCoffee()} , max=${coffeeMachine.getMaxAmountOfCoffee()}"
                       th:value="*{coffeeUser.amountOfCoffee} ? *{coffeeUser.amountOfCoffee} : 17.5" type="range"
                       value="17.5">
                <ul class="form-range list-group-horizontal">
                    <li class="float-start list-group-item">
                        <span th:remove="tag" th:text="${coffeeMachine.getMinAmountOfCoffee()}">min</span></li>
                    <li class="float-end list-group-item">
                        <span th:remove="tag" th:text="${coffeeMachine.getMaxAmountOfCoffee()}">max</span></li>
                </ul>
            </div>


            <div class="m-auto">
                <label class="form-label m-auto" for="cupSizeSlider">Cup size: </label>
                <span class="fs-5" id="cupSize">0</span><span class="fs-5">[ml]</span>

                <input class="form-range h-100 " id="cupSizeSlider"
                       name="cupSize"
                       step="5"
                       th:attr="min=${coffeeMachine.getMinCupSize()} , max=${coffeeMachine.getMaxCupSize()}"
                       th:value="*{coffeeUser.cupSize} ? *{coffeeUser.cupSize} : 150" type="range" value="45">
                <ul class="form-range list-group-horizontal">
                    <li class="float-start list-group-item">
                        <span th:remove="tag" th:text="${coffeeMachine.getMinCupSize()}">min</span></li>
                    <li class="float-end list-group-item">
                        <span th:remove="tag" th:text="${coffeeMachine.getMaxCupSize()}">max</span></li>
                </ul>
            </div>
            <button class="btn btn-dark col-2" type="submit">Save</button>
        </form>

    </div>
</div>
</body>
</html>

<script>
    var SlideTemp = document.getElementById("tempWaterSlider");
    var SlideTempText = document.getElementById("tempWater");

    var AmountOfWater = document.getElementById("amountOfWaterSlider");
    var AmountOfWaterText = document.getElementById("amountOfWater");

    var SlideTempMilk = document.getElementById("tempMilkSlider");
    var SlideTempMilkText = document.getElementById("tempMilk");

    var SlideAmountOfMilk = document.getElementById("amountMilkSlider");
    var SlideAmountOfMilkText = document.getElementById("amountMilk");

    var SlideGrinding = document.getElementById("grindingLevelSlider");
    var SlideGrindingText = document.getElementById("grindingLevel");

    var SlideAmountOfCoffee = document.getElementById("amountOfCoffeeSlider");
    var SlideAmountOfCoffeeText = document.getElementById("amountOfCoffee");

    var SlideCupSize = document.getElementById("cupSizeSlider");
    var SlideCupSizeText = document.getElementById("cupSize");

    var TempCoffeeText = document.getElementById("tempCoffee");
    var TempCoffee = (((parseInt(AmountOfWater.value) * parseInt(SlideTemp.value)) + (parseInt(SlideAmountOfMilk.value) * parseInt(SlideTempMilk.value))) / (parseInt(SlideAmountOfMilk.value) + parseInt(AmountOfWater.value))).toPrecision(4).toString();


    SlideTempText.innerHTML = SlideTemp.value;
    AmountOfWaterText.innerHTML = AmountOfWater.value;
    SlideTempMilkText.innerHTML = SlideTempMilk.value;
    SlideAmountOfMilkText.innerHTML = SlideAmountOfMilk.value;
    SlideGrindingText.innerHTML = SlideGrinding.value;
    SlideAmountOfCoffeeText.innerHTML = SlideAmountOfCoffee.value;
    SlideCupSizeText.innerHTML = SlideCupSize.value;
    TempCoffeeText.innerHTML = TempCoffee;


    function tempCoffeeF() {
        var m1 = parseInt(AmountOfWater.value);
        var T1 = parseInt(SlideTemp.value);
        var m2 = parseInt(SlideAmountOfMilk.value);
        var T2 = parseInt(SlideTempMilk.value);
        var a = ((m1 * T1) + (m2 * T2)) / (m2 + m1);
        TempCoffeeText.innerHTML = a.toPrecision(4);
    }


    SlideTemp.addEventListener("input", tempCoffeeF)
    AmountOfWater.addEventListener("input", tempCoffeeF)
    SlideAmountOfMilk.addEventListener("input", tempCoffeeF)
    SlideTempMilk.addEventListener("input", tempCoffeeF)


    SlideTemp.oninput = function () {
        SlideTempText.innerHTML = this.value;
    }

    AmountOfWater.oninput = function () {
        AmountOfWaterText.innerHTML = this.value;
    }

    SlideTempMilk.oninput = function () {
        SlideTempMilkText.innerHTML = this.value;
    }

    SlideAmountOfMilk.oninput = function () {
        SlideAmountOfMilkText.innerHTML = this.value;
    }

    SlideGrinding.oninput = function () {
        SlideGrindingText.innerHTML = this.value;
    }
    SlideAmountOfCoffee.oninput = function () {
        SlideAmountOfCoffeeText.innerHTML = this.value;
    }

    SlideCupSize.oninput = function () {
        SlideCupSizeText.innerHTML = this.value;
    }


</script>
