<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <title>User Add Coffee</title>

    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          rel="stylesheet">

    <link href="../../static/css/main.css" rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>
<div>
    <div class="container fixed-top" th:insert="fragments/header::header"></div>
    <div class="container mt-5">
        <a class="btn btn-outline-dark float-start " th:href="@{/coffee-settings}" type="button">Go Back</a>
    </div>

    <div class="container ">
        <div class="text-center">
            <span class="fs-3 ">Add New Coffee</span>
        </div>
        <hr/>


        <form class="text-center w-75 m-auto" method="POST" th:action="@{/user/user-add-coffee}">


            <label class="form-label fs-5 m-auto" for="nameOfCoffee">Name of coffee</label>
            <input class="form-control col-4 mb-4 text-center m-auto" id="nameOfCoffee" name="nameOfCoffee"
                   placeholder="Enter name of coffee"
                   th:value="*{coffeeUser.nameOfCoffee}" type="text"/>


            <div class ="m-auto">
                <label class="form-label m-auto" for="tempWaterSlider">Temp. water:</label>
                    <span class="fs-5 position-" id="tempWater">0</span><span>&#8451;</span>

                <input class="form-range h-100 m-auto" id="tempWaterSlider"
                       name="tempWater"
                       step="1" th:attr="min=${coffeeMachine.getMIN_TEMP_WATER()}, max=${coffeeMachine.getMAX_TEMP_WATER()}" th:value="*{coffeeUser.tempWater}" type="range" value="95">
                <ul class="form-range list-group-horizontal">
                    <li class="float-start list-group-item">
                        <span th:remove="tag" th:text="${coffeeMachine.getMIN_TEMP_WATER()}">min</span> &#8451;
                    </li>
                    <li class="float-end list-group-item">
                        <span th:remove="tag" th:text="${coffeeMachine.getMAX_TEMP_WATER()}">max</span> &#8451;
                    </li>
                </ul>
            </div>

            <div class ="m-auto">
                <label class="form-label m-auto " for="grindingLevelSlider">Grinding level: </label>
                    <span class="fs-5" id="grindingLevel">0</span>

                <input class="form-range h-100 " id="grindingLevelSlider"
                       name="grindingLevel"
                       step="1" th:attr="min=${coffeeMachine.getMIN_GRINDING_LEVEL()} , max=${coffeeMachine.getMAX_GRINDING_LEVEL()}" th:value="*{coffeeUser.grindingLevel}" type="range" value="5">
                <ul class="form-range list-group-horizontal">
                    <li class="float-start list-group-item">
                        <span th:remove="tag" th:text="${coffeeMachine.getMIN_GRINDING_LEVEL()}">min</span></li>
                    <li class="float-end list-group-item">
                        <span th:remove="tag" th:text="${coffeeMachine.getMAX_GRINDING_LEVEL()}">max</span></li>
                </ul>
            </div>


            <div class="m-auto">
                <label class="form-label m-auto" for="amountOfCoffeeSlider">Amount of coffee: </label>
                    <span class="fs-5" id="amountOfCoffee">0</span><span class="fs-5"> g</span>

                <input class="form-range h-100 " id="amountOfCoffeeSlider"
                       name="amountOfCoffee"
                       step="0.5" th:attr="min=${coffeeMachine.getMIN_AMOUNT_OF_COFFEE()} , max=${coffeeMachine.getMAX_AMOUNT_OF_COFFEE()}" th:value="*{coffeeUser.amountOfCoffee}" type="range" value="17.5">
                <ul class="form-range list-group-horizontal">
                    <li class="float-start list-group-item">
                        <span th:remove="tag" th:text="${coffeeMachine.getMIN_AMOUNT_OF_COFFEE()}">min</span></li>
                    <li class="float-end list-group-item">
                        <span th:remove="tag" th:text="${coffeeMachine.getMAX_AMOUNT_OF_COFFEE()}">max</span></li>
                </ul>
            </div>

            <div class="m-auto">
                <label class="form-label m-auto" for="amountOfWaterSlider">Amount of water: </label>
                    <span class="fs-5" id="amountOfWater">0</span><span class="fs-5"> ml</span>

                <input class="form-range h-100 " id="amountOfWaterSlider"
                       name="amountOfWater"
                       step="5" th:attr="min=${coffeeMachine.getMIN_AMOUNT_OF_WATER()} , max=${coffeeMachine.getMAX_AMOUNT_OF_WATER()}" th:value="*{coffeeUser.amountOfWater}" type="range" value="45">
                <ul class="form-range list-group-horizontal">
                    <li class="float-start list-group-item">
                        <span th:remove="tag" th:text="${coffeeMachine.getMIN_AMOUNT_OF_WATER()}">min</span></li>
                    <li class="float-end list-group-item">
                        <span th:remove="tag" th:text="${coffeeMachine.getMAX_AMOUNT_OF_WATER()}">max</span></li>
                </ul>
            </div>

            <div class="m-auto">
                <label class="form-label m-auto" for="amountMilkSlider">Amount of milk: </label>
                    <span class="fs-5 " id="amountMilk">0</span><span class="fs-5 m-auto"> ml</span>

                <input class="form-range h-100 " id="amountMilkSlider"
                       name="amountMilk"
                       step="5" th:attr="min=${coffeeMachine.getMIN_AMOUNT_OF_MILK()} , max=${coffeeMachine.getMAX_AMOUNT_OF_MILK()}" th:value="*{coffeeUser.amountMilk}" type="range" value="0">
                <ul class="form-range list-group-horizontal">
                    <li class="float-start list-group-item">
                        <span th:remove="tag" th:text="${coffeeMachine.getMIN_AMOUNT_OF_MILK()}">min</span></li>
                    <li class="float-end list-group-item">
                        <span th:remove="tag" th:text="${coffeeMachine.getMAX_AMOUNT_OF_MILK()}">max</span></li>
                </ul>
            </div>

            <div class="m-auto">
                <label class="form-label m-auto" for="cupSizeSlider">Cup size: </label>
                    <span class="fs-5" id="cupSize">0</span><span class="fs-5">[ml]</span>

                <input class="form-range h-100 " id="cupSizeSlider"
                       name="cupSize"
                       step="5" th:attr="min=${coffeeMachine.getMIN_CUP_SIZE()} , max=${coffeeMachine.getMAX_CUP_SIZE()}" th:value="*{coffeeUser.cupSize}" type="range" value="45">
                <ul class="form-range list-group-horizontal">
                    <li class="float-start list-group-item">
                        <span th:remove="tag" th:text="${coffeeMachine.getMIN_CUP_SIZE()}">min</span></li>
                    <li class="float-end list-group-item">
                        <span th:remove="tag" th:text="${coffeeMachine.getMAX_CUP_SIZE()}">max</span></li>
                </ul>
            </div>
            <button class="btn btn-primary col-2" type="submit">Save</button>
        </form>

    </div>
</div>
</body>
</html>

<script>
    var SlideTemp = document.getElementById("tempWaterSlider");
    var SlideTempText = document.getElementById("tempWater");

    var SlideGrinding = document.getElementById("grindingLevelSlider");
    var SlideGrindingText = document.getElementById("grindingLevel");

    var SlideAmountOfCoffee = document.getElementById("amountOfCoffeeSlider");
    var SlideAmountOfCoffeeText = document.getElementById("amountOfCoffee");

    var AmountOfWater = document.getElementById("amountOfWaterSlider");
    var AmountOfWaterText = document.getElementById("amountOfWater");

    var SlideAmountOfMilk = document.getElementById("amountMilkSlider");
    var SlideAmountOfMilkText = document.getElementById("amountMilk");

    var SlideCupSize = document.getElementById("cupSizeSlider");
    var SlideCupSizeText = document.getElementById("cupSize");

    // var SlideCupSize = document.getElementById("tempWaterSlider");
    // var SlideCupSizeText = document.getElementById("tempWaterSlider");


    SlideTempText.innerHTML = SlideTemp.value;
    SlideGrindingText.innerHTML = SlideGrinding.value;
    SlideAmountOfCoffeeText.innerHTML = SlideAmountOfCoffee.value;
    AmountOfWaterText.innerHTML = AmountOfWater.value;
    SlideAmountOfMilkText.innerHTML = SlideAmountOfMilk.value;
    SlideCupSizeText.innerHTML = SlideCupSize.value;

    SlideTemp.oninput = function () {
        SlideTempText.innerHTML = this.value;
    }

    SlideGrinding.oninput = function () {
        SlideGrindingText.innerHTML = this.value;
    }
    SlideAmountOfCoffee.oninput = function () {
        SlideAmountOfCoffeeText.innerHTML = this.value;
    }
    AmountOfWater.oninput = function () {
        AmountOfWaterText.innerHTML = this.value;
    }
    SlideAmountOfMilk.oninput = function () {
        SlideAmountOfMilkText.innerHTML = this.value;
    }

    SlideCupSize.oninput = function () {
        SlideCupSizeText.innerHTML = this.value;
    }


</script>

