<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<header th:header class=" d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">

    <a th:href="@{/}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <span class="fs-4">Coffee machine</span>
    </a>

    <ul class=" nav nav-pills">
        <li class="nav-item px-1 " sec:authorize="isAuthenticated()"><a th:href="@{/logout}" class="btn">Log out</a></li>
        <li class="nav-item px-1"><a href="#" class="btn">Turn off</a></li>
        <li class="nav-item px-1"><a th:href="@{/}" class="btn btn-outline-dark" aria-current="page">Home</a></li>
        <li class="nav-item px-1" sec:authorize="isAuthenticated()"><a th:href="@{/menu}" class="btn btn-outline-dark" aria-current="page">Menu</a></li>


    </ul>
</header>
</body>
</html>

