<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<header th:header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">

    <a th:href="@{/}" class="d-flex  align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <span class="fs-4">Coffee machine</span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item" sec:authorize="isAuthenticated()"><a th:href="@{/logout}" class="nav-link">Log out</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Turn off</a></li>
        <li class="nav-item" sec:authorize="isAuthenticated()"><a th:href="@{/menu}" class="nav-link active" aria-current="page">Menu</a></li>
        <li class="nav-item"><a th:href="@{/}" class="nav-link active" aria-current="page">Home</a></li>

    </ul>
</header>
</body>
</html>

