.root{
    --bs-body: #568fe7;
}
html,
body {
    height: 100%;
}

body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

header{
    background-color: #f5f5f5;
}

.header-text-status{
    margin-bottom: 1rem;
    height: 3em;
    box-sizing: border-box;
    font-size: 1.25rem !important;
}

.value-text-status {
    margin-top: 0.5rem;

    height: 3em;
    box-sizing: border-box;
    font-size: 1.1rem !important;
    display: flex;
    justify-content: center;

}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.list-group {
    max-width: 460px;
    margin: 4rem auto;
}

.form-check-input:checked + .form-checked-content {
    opacity: .5;
}

.form-check-input-placeholder {
    border-style: dashed;
}
[contenteditable]:focus {
    outline: 0;
}

.list-group-checkable .list-group-item {
    cursor: pointer;
}
.list-group-item-check {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
.list-group-item-check:hover + .list-group-item {
    background-color: var(--bs-light);
}
.list-group-item-check:checked + .list-group-item {
    color: #fff;
    background-color: var(--bs-blue);
}
.list-group-item-check[disabled] + .list-group-item,
.list-group-item-check:disabled + .list-group-item {
    pointer-events: none;
    filter: none;
    opacity: .5;
}

.list-group-radio .list-group-item {
    cursor: pointer;
    border-radius: .5rem;
}
.list-group-radio .form-check-input {
    z-index: 2;
    margin-top: -.5em;
}
.list-group-radio .list-group-item:hover,
.list-group-radio .list-group-item:focus {
    background-color: var(--bs-light);
}

.list-group-radio .form-check-input:checked + .list-group-item {
    background-color: var(--bs-body);
    border-color: var(--bs-blue);
    box-shadow: 0 0 0 2px var(--bs-blue);
}
.list-group-radio .form-check-input[disabled] + .list-group-item,
.list-group-radio .form-check-input:disabled + .list-group-item {
    pointer-events: none;
    filter: none;
    opacity: .5;
}

.progress-bar-vertical {
    min-height: 300px;

    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-align-items: flex-end; /* Safari 7.0+ */
}

.progress-bar-vertical .progress-bar {
    width: 100%;
    height: 0;
    -webkit-transition: height 0.6s ease;
    -o-transition: height 0.6s ease;
    transition: height 0.6s ease;
}+

.vertical {
    transform: rotate(-90deg);

}

.progress-bar{
    --bs-progress-bar-color: #fff;
}

.progress-light {

    --bs-progress-bar-bg: #e9ecef; !important;
    --bs-progress-bar-color: #000000; !important;
}


